# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
daemon/trader
infobot/infobot
common/libcommon.a
bin/
.qmake.stash

qrc_*.cpp

Makefile*
*.pro.user
*.log
